#svg-container { width:980px; height:980px; position: relative; margin: auto; overflow: hidden; margin-top:20px;}

.svg .node ,.svg .node-child { cursor: pointer; }

.svg .line { pointer-events: none;}

#circle-zoom .node { cursor: default; }

.svg .label,.svg .label-child { fill:#000; font-family:'\5FAE\8F6F\96C5\9ED1';font-size:12px;text-anchor: middle;text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;pointer-events: none;}

.svg .colorbg { fill:#f8f8f8;}

.svg .color0 .node,.svg .color0 .node-child { fill:#24d3ff;}
.svg .color1 .node,.svg .color1 .node-child { fill:#9891de;}
.svg .color2 .node,.svg .color2 .node-child { fill:#ffb400;}
.svg .color3 .node,.svg .color3 .node-child { fill:#ff6b01;}
.svg .color4 .node,.svg .color4 .node-child { fill:#5aba4f;}
.svg .color5 .node,.svg .color5 .node-child { fill:#7e7e7e;}
.svg .color6 .node,.svg .color6 .node-child { fill:#3f97ee;}

#circle-zoom.color0 .node:hover { fill:#24d3ff; }
#circle-zoom.color1 .node:hover { fill:#9891de; }
#circle-zoom.color2 .node:hover { fill:#ffb400; }
#circle-zoom.color3 .node:hover { fill:#ff6b01; }
#circle-zoom.color4 .node:hover { fill:#5aba4f; }
#circle-zoom.color5 .node:hover { fill:#7e7e7e; }
#circle-zoom.color6 .node:hover { fill:#3f97ee; }


.svg .color0 .node:hover { fill:#59deff;}
.svg .color0 .node-child.light {fill:#59deff; stroke:#24d3ff; stroke-width:4px;}

.svg .color1 .node:hover { fill:#a8a2e8; }
.svg .color1 .node-child.light {fill:#a8a2e8; stroke:#9891de; stroke-width:4px;}

.svg .color2 .node:hover { fill:#ffc740; }
.svg .color2 .node-child.light {fill:#ffc740; stroke:#ffb400; stroke-width:4px;}

.svg .color3 .node:hover { fill:#fe8a35; }
.svg .color3 .node-child.light {fill:#fe8a35; stroke:#ff6b01; stroke-width:4px;}

.svg .color4 .node:hover { fill:#70ca66; }
.svg .color4 .node-child.light {fill:#70ca66; stroke:#5aba4f; stroke-width:4px;}

.svg .color5 .node:hover { fill:#909090; }
.svg .color5 .node-child.light {fill:#909090; stroke:#7e7e7e; stroke-width:4px;}

.svg .color6 .node:hover { fill:#6fb2f6; }
.svg .color6 .node-child.light {fill:#6fb2f6; stroke:#3f97ee; stroke-width:4px;}


.pi-pic-float { position: absolute; z-index: 2; border:6px solid #e7e7e7; border-radius:5px; top:0; left:20px; width:200px; height: 200px;   background: #fff;  text-align: center; }
.pi-pic-float span { display: block; width:200px; height:200px; vertical-align: middle;  display:table-cell;}
.pi-pic-float img {  vertical-align: middle;max-width:100%;max-height:100%; }



.pi-click-box { display: none; z-index:2; width:900px; border-radius:10px; border:1px solid #dedede; position: absolute; background: #fff; top:10px; left:10px; height: 140px; box-shadow:0 2px 4px #eee;}
.pi-click-box .btn-prev,.pi-click-box .btn-next { float:left; width:25px; height: 140px; text-indent: -9999px; cursor:pointer; }
.pi-click-box .btn-prev { border-radius:10px 0 0 10px; background:#e5e5e5 url("../images/slilder-btn-prev.png") no-repeat center;}
.pi-click-box .btn-next {  float:right; border-radius:0 10px 10px 0; background:#e5e5e5 url("../images/slilder-btn-next.png") no-repeat center;}
.pi-click-box .box { overflow: hidden; width:850px; float:left; }
.pi-click-box .box .cont { width:1700px;}
.pi-click-box .box .cont li { width:850px; float:left; height: 140px; color:#666; background: url("../images/pi-box-bg.png") repeat-y center;}
.pi-click-box .box .cont li p { margin-bottom:4px; line-height: 20px; max-height: 60px; overflow: hidden;}
.pi-click-box .box .cont li .light { color:#f18100; }
.pi-click-box .box .cont li a { color:#333;}
.pi-click-box .box .cont li a:hover { color:#f18100;}
.pi-click-box .box .cont li .size { font-weight:bold; font-size:16px; font-family:Arial;}
.pi-click-box .box .cont li .item-panel { width:425px; float:left;  }
.pi-click-box .box .cont li .item-panel .pic { width:83px; height:83px; position: relative; float:left; margin:25px 10px 0 15px;}
.pi-click-box .box .cont li .item-panel .pic span { top:0; left:0; position: absolute; display: block; width:83px; height: 83px; background: url("../images/pi1.png?__sprite");}
.pi-click-box .box .cont li .item-panel .pic:hover span {  background: url("../images/pi2.png?__sprite");}
.pi-click-box .box .cont li .item-panel .pic a {display:block; height:100%;text-align: center; }
.pi-click-box .box .cont li .item-panel .pic a:before{content:"";display:inline-block; width:0;vertical-align:middle;height:100%;}
.pi-click-box .box .cont li .item-panel .pic img { vertical-align: middle; max-width:100%; max-height:100%;}
.pi-click-box .box .cont li .item-panel .info-1 { width:150px; height:100px; overflow: hidden; float:left; margin:25px 10px 0 0; }
.pi-click-box .box .cont li .item-panel .info-2 { width:150px; float:left; margin:25px 0 0 0;}
.pi-click-box .box .cont li .item-panel .info-2 p { overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}


.pi-hover-box { display: none;  z-index: 1; width:426px; border-radius:10px; border:1px solid #dedede; position: absolute; background: #fff;  top:10px; left:10px; height: 140px; box-shadow:0 2px 4px #eee;}
.pi-hover-box .btn-prev,.pi-hover-box .btn-next { float:left; width:25px; height: 140px; text-indent: -9999px; cursor:pointer; }
.pi-hover-box .btn-prev { border-radius:10px 0 0 10px; background:#e5e5e5 url("../images/slilder-btn-prev.png") no-repeat center;}
.pi-hover-box .btn-next {  float:right; border-radius:0 10px 10px 0; background:#e5e5e5 url("../images/slilder-btn-next.png") no-repeat center;}
.pi-hover-box .box { overflow: hidden; width:376px;  float:left; }
.pi-hover-box .box .cont { width:1692px;}
.pi-hover-box .box .cont li { cursor:default; text-align: center; width:94px; float:left; height: 140px; color:#666; }
.pi-hover-box .box .cont li .view-price { height:32px; line-height: 32px;  color:#f28a11; font-weight: bold; font-family: Arial;}
.pi-hover-box .box .cont li:hover .view-price { color:#e43d3d;}
.pi-hover-box .box .cont li .view-process { height: 80px;}
.pi-hover-box .box .cont li .view-process span { display: block; position: relative; width:14px; margin:auto; height: 80px; background:#f7f7f7; }
.pi-hover-box .box .cont li .view-process b { position: absolute; bottom:0; width:14px; left:0; height:1px; background: #f28a11;}
.pi-hover-box .box .cont li:hover .view-process b { background: #e43d3d;}
.pi-hover-box .box .cont li .view-text { height: 27px; line-height: 27px; background: #f7f7f7; border-top:1px solid #eaeaea; }
.pi-hover-box .box .cont li:hover .view-text { color:#e43d3d;}


.pi-process-box { display: none; z-index:3; width:290px; height: 290px; border-radius:10px; border:1px solid #dedede; position: absolute; background: #fff;   top:0; left:0;  box-shadow:0 2px 4px #eee;}
.pi-process-box .btn-prev,.pi-process-box .btn-next { float:left; width:25px; height: 290px; text-indent: -9999px; cursor:pointer; }
.pi-process-box .btn-prev { border-radius:10px 0 0 10px; background:#e5e5e5 url("../images/slilder-btn-prev.png") no-repeat center;}
.pi-process-box .btn-next {  float:right; border-radius:0 10px 10px 0; background:#e5e5e5 url("../images/slilder-btn-next.png") no-repeat center;}
.pi-process-box .box { overflow: hidden; width:240px;  height: 290px; float:left; }
.pi-process-box .box .cont { width:480px;}
.pi-process-box .box li { width:240px; height: 290px; float:left;}
.pi-process-box .box .view-pic { margin:6px auto; text-align: center; width:200px; height:200px;}
.pi-process-box .box .view-pic a{display:block; height:100%;text-align: center;}
.pi-process-box .box .view-pic a:before{content:"";display:inline-block; width:0;vertical-align:middle;height:100%;}
.pi-process-box .box .view-pic img{vertical-align: middle; max-width:100%; max-height:100%;}
.pi-process-box .box .view-text { padding: 0 10px; line-height: 20px; height: 40px; overflow: hidden;}
.pi-process-box .box .view-text a { color:#666;}
.pi-process-box .box .view-text a strong { color:#f18100;}
.pi-process-box .box .view-text a:hover { color:#f18100;}
.pi-process-box .box .view-price { line-height: 30px; padding:0 10px; }
.pi-process-box .box .view-price strong { font-size:14px;   color:#666; font-family:Arial; }
.pi-process-box .box .view-price span { float:right; color:#e43d3d; padding-left: 16px; background: url("../images/ico-comment.png") no-repeat left center;}

#svg-container .back { display:none; z-index: 1; width:64px; height: 64px; text-indent: -9999px; cursor:pointer; position: absolute; top:20px; left:20px; background: url("../images/iconfont-back.png") no-repeat;}
#svg-container .back:hover { background-position: 0 -64px;}
